body{
    margin: 0px;
    background-color: rgb(255, 255, 223);      
}
/* Top page style */
header{ 
    
    height: 100px;
    background-image: url("/images/pattern.png") ;
    background-color:cornflowerblue ;
    background-size: 400px;
    margin-left: 0px;       
}
#booleaner_logo{
       margin-top: 40px;     
}

/* Title positioning */
h1{
    margin-left: 5px;
    margin-bottom: 0px;
}   
#credits{
    color: gray;
    margin-top: 5px;
    margin-left: 5px;   
}

/*To fix image positioning*/
.tim{
    margin-top: 140px;
}